body{
    background-color: black;
    text-align: center;
}
a[href] {
    color: aquamarine;
    font-size: 40px;
}
h1{
color: cornflowerblue;
font-size: 45px;
}
h2{
color: cyan;
font-size: 20px;
}
h3{
    color: cyan;
    font-size: 14px;
    }